#page{
    height: 100%;
    display:flex;
}

.card-title{
    font-style: italic;
    font-weight: bold;
    color: #0d0079;
}

.card-body{
    margin:"10px 0px";
    font-size: larger;
    font-weight: bold;
    color:#0d0079
}
